<!DOCTYPE html>
<html lang="en">
{% include "headers.html" %}
<body>
    <p>Aurora.</p>
    <hr>
    <img src="">

    <p>ABOUT</p>
    <p>Aurora is a week-long event packed with hands-on workshops,inspiring speakers, and exciting events designed to help you sharpen your technical skills
        and network with like-minded individuals.
    </p>
    <p>Workshops</p>
    <p>Events</p>
    <p>Speakers</p>
<pre><big>"CODE NEVER LIES,
COMMENTS SOMETIMES
DO."</big> -Ron Jefferies
</pre>

</body>
</html>