<!DOCTYPE html>
<html lang="en">
    {% include "headers.html" %}
    <body>
        <header>
            {% include "navbar.html" %}
            <script type="text/javascript">responsive()</script>
        </header>
        <div class = "flex flex-row p-10">
        <div class = "flex-1">
            <p class = "text-[4rem] font-bold">
                HANDS-ON WORKSHOPS, <br>
                EXCITING EVENTS, <br>
                INSPIRING SPEAKERS! <br>
            </p>
            <img src="static/assets/home.png" alt="" class="rounded-circle" style=""
            <img src ="static/assets/building.jpg" alt="" style="height: 30%; width: 200%">
        </div>
        <div class = "pt-[17rem]">
            <p class = "text-5xl font-bold rotate-[-90deg] pb-36 text-[15rem]">
                ISTE
            </p>
            <p class = "text-white pt-5 pl-24 text-semibold text-[3.2rem]">
                manipal
            </p>
        </div>
        </div>
    </body>
</html>
