<!DOCTYPE html>
<html lang="en">
{% include "headers.html" %}
<body>
<section class="vh-100" style="background: linear-gradient(to right, #3dabb4, #ef9e5c, #ec72eb);">
    <div class="container py-5 align-content-center">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center" style="margin-top: 64px;">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h1 class="fw-bold mb-2 text-uppercase" style="font-size: 20px">Login</h1>
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <p class="text-white-50 mb-5">Welcome back, please login to your account.</p>
                        <div class="form-switch mb-4">
                            <input type="text" class="form-control form-control-lg" placeholder="Username" id="username">
                            <label class="form-check-label" for="username"></label>
                        </div>
                        <div class="form-switch mb-4">
                            <input type="password" class="form-control form-control-lg" placeholder="Password" id="password">
                            <label class="form-check-label" for="password"></label>
                        </div>
                        <button class="btn btn-primary btn-lg" onclick="Login()">Login</button>
                    </div>
                    <p class="text-white-50 mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
</body>
</html>
