<nav>
    <div class="topnav" id="Navbar">
        <button class="left" href="/" style="font-size: 48px;font-weight: bold; margin-left: 20px;">
            Aurora.
        </button>
        <a class="icon" href="javascript:void(0);" id="menu" onclick="topNav()" style="margin-right: 20px">
            <i aria-hidden="true" class="fa-solid fa-bars" id="menu-btn"></i>
            <div class="dropdown" id="mobile-menu">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/timeline">Timeline</a>
                <a href="/sponsors">Sponsors</a>
            </div>
        </a>
        <button class="rounded_button right" href="/register" onclick="location.href='/register'"
                style="margin-top: 20px; font-weight: bold; font-size: 18px">
            Register now!
        </button>
        <div class="trapezoid" style="justify-content: center; align-items: center">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/timeline">Timeline</a>
            <a href="/sponsors">Sponsors</a>
        </div>
    </div>
</nav>
