<!DOCTYPE html>
<html lang="en">
{% include "headers.html" %}
<body>
    {% include "navbar.html" %}
    <div class="container justify-content-center align-items-center text-center">
        <div class="card mb-3 bg-dark text-white border-dark-subtle" style="margin-top: 128px; width: 40%; margin-left: auto; margin-right: auto; display: block; box-shadow: 0 0 40px darkslategray">
            <img class="card-img-top" src="{{ anime.images.webp.large }}" alt="Card image cap">
            <div class="card-body">
            <h2 class="card-title font-bold text-dark-emphasis" style="font-size: 30px; margin-bottom: 20px">{{ anime.title }}  #{{ anime.mal_id }}</h2>
            <p class="card-text text-white-50">{{ anime.synopsis }}</p>
            <a class="card-text" href="{{ anime.url }}" style="text-decoration: none"><small class="text-muted">Click here to visit animelist!</small></a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-white-50">📺 Type: {{ anime.type }}<br>📖 Episodes: {{ anime.episodes }}<br>✈️ Status: {{ anime.status }}<br>⏳ Duration: {{ anime.duration }}</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-white-50">🌟 Rating: {{ anime.rating }}<br>🎖️ Score: {{ anime.score }}<br>👤 Scored By: {{ anime.scored_by }}<br>🏆 Rank: {{ anime.rank }}</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-white-50">
                    {% for genre in anime.genres %}
                    <span class="badge badge-pill badge-danger">{{ genre.name }}</span>
                    {% endfor %}
                    {% for genre in anime.explicit_genres %}
                    <span class="badge badge-pill badge-danger">{{ genre.name }}</span>
                    {% endfor %}
                    {% for genre in anime.themes %}
                    <span class="badge badge-pill badge-danger">{{ genre.name }}</span>
                    {% endfor %}
                    {% for genre in anime.demographics %}
                    <span class="badge badge-pill badge-danger">{{ genre.name }}</span>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid mt-100">
     <div class="row" style="padding-left: 50px; padding-right: 50px">
         <div class="col-md-12">
             <h1 class="font-bold text-center" style="font-size: 40px; margin-top: 60px; margin-bottom: 60px">Comments</h1>
             {% for comment in comments %}
             <div class="card mb-4 bg-dark text-white-50">
                 <div class="card-header">
                     <div class="media flex-wrap w-100 align-items-center"> <img src="{{ comment.avatar }}" class="d-block ui-w-40 rounded-circle" alt="" style="width: 30px; height: 30px">
                         <div class="media-body ml-3"> <a href="javascript:void(0)" data-abc="true">{{ comment.username }}</a>
                             <div class="small">{{ comment.created_at.strftime("%m/%d/%Y, %H:%M:%S") }}</div>
                         </div>
                     </div>
                 </div>
                 <div class="card-body">
                     <p>{{ comment.comment }}</p>
                 </div>
                 <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                     <div class="px-4 pt-3"><button type="button" class="btn btn-primary"><i class="ion ion-md-create"></i>Edit</button></div>
                 </div>
             </div>
             {% endfor %}
         </div>
     </div>
 </div>
    {% include "footer.html" %}
</body>
</html>
