<!DOCTYPE html>
<html lang="en">
{% include "headers.html" %}
<body>
<div class = "flex flex-row">
    <div>
        <p class = "text-3xl">Aurora.</p>
        <img src="static/assets/home.jpg" align="right" alt="">
        <hr color="black">
        <br>
        <p class = "text-5xl text-white text-bold">12th-17th</p>
        <br>
        <p>Aurora is a week-long event packed with hands-on workshops,inspiring speakers, and exciting events designed to help you sharpen your technical skills
            and network with like-minded individuals.
        </p>    
        <br>
        <p class = "text-5xl text-white text-bold">12th,17th,19th</p>
        <br>
        <p>Aurora is a week-long event packed with hands-on workshops,inspiring speakers, and exciting events designed to help you sharpen your technical skills
            and network with like-minded individuals.
        </p> 
        <br>
        <p class = "text-5xl text-white text-bold">18th, 20th</p>
        <br>
        <p>Aurora is a week-long event packed with hands-on workshops,inspiring speakers, and exciting events designed to help you sharpen your technical skills
            and network with like-minded individuals.
        </p> 
    </div>
    <div class = "pt-[18rem]">
        <p class = "text-5xl pl-72 font-bold rotate-[-90deg] text-[10rem]">
            TIMELINE
        </p>
    </div>
</div>
</body>
</html>